<nav class="navbar navbar-expand-md border-bottom sticky-top" style="background-color: white;">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

        <!-- Search Form (Always Visible) -->
        <form class="d-flex ms-auto me-auto search-form" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search country">
            <button class="btn search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span class="search-text">Search</span>
            </button>
        </form>
        

        <!-- Toggler Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Links -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new">Airbnb your home</a>
                <% if(!currUser) { %>
                <a class="nav-link" href="/signup"><b>Sign up</b></a>
                <a class="nav-link" href="/login"><b>Log in</b></a>
                <% } %>
                <% if(currUser) { %>
                <a class="nav-link" href="/logout"><b>Log out</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
